language: node_js
sudo: false

env:
  - SENECA_VER=seneca@3.x.x
  - SENECA_VER=senecajs/seneca

node_js:
  - "10"
  - "8"
  - "6"
  - "4"

before_script:
  - npm uninstall seneca
  - npm install $SENECA_VER

after_script:
  - npm run coveralls
